.wave{
    background-image: url("Image/sec.jfif");
    height: 100px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}

